@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
:root{
    --bg-color-site:#e67e34;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background: url(../../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

li{
    display: flex;
    list-style-type: none;
}

h1{
    display: block;
    color: #fff;
}

h2{
    color: #e67e34;
}

a{
    text-decoration: none;
    color: #000;
}

.box-1{
    width: 20%;
}

.box-2{
    display: flex;
    justify-content:space-around;
}

#bagShop,
#listMenu{
    width: 25px;
}


.navbar-pages-list{
    margin: 0 25px;
}

.header-nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.myAccount{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #000000;
    color: #000;
    /* margin: 0 -.25rem; */
    /* padding: 0 .15rem; */
    height: 2.5vh;
    transition: all .3s ease-in-out, box-shadow .3s ease-in-out;
}

.myAccount:hover{
    box-shadow:inset 150px 0 0 0 #e67e34;
}

.logo{
    display: flex;
    margin: 0 0 2vh 8vh;
    align-items: center;
    justify-content:center;
    padding: 5vh;
    
    background-color: var(--bg-color-site);
    height: 8vh;
    width: 12vh; 
}

.navbar-pages{
    display: flex;
    justify-content:center;
}

.inputSearchNavbar{
    display: flex;
    text-align: center;
    height: 2.5vh;
    width: 10vw;
    border:1px solid #000;
}

.inputSearchNavbar:focus{
    outline: none;
    content: "";
}


.listMenu{
    display: flex;
    justify-content: flex-end;
}

.container-1{
    display: flex;
    width: 65px;
    margin: 8rem 0 0 2.5rem;
}

.clouthes-pages{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    color: gray;
    cursor: pointer;
}

.clouthes-pages:hover{
    color: #e67e34;
    font-weight: bold;
    display: flex;
    font-size: 16px;
}

.social-links{
    display: flex;
    margin: 20vh 0 0 4vh;
    width: 90px;
    height: 50px;
}

.social-links-inside{
    display: flex;
    width: 90px;
    justify-content:space-between;
    align-items:center;
}

[class^="ph-"]::before,
[class*="ph-"]::before{
    font: 20px Phosphor;
}

.container-2{
    display: flex;
    flex-direction: column;
}

.box-button-1-container-2{
    display: flex;
    margin: 50px auto;
}

.box-button-2-container-3{
    display: flex;
}

.ph-arrow-left{
    display: flex;
    align-items: center;
    opacity: 0.79;
}

#button-prev{
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: none;
    margin-left: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(44, 44, 44);
}

#button-prev:hover{
    transition: background-color .2s ease-in-out;
    background-color:rgb(133, 131, 131);
}

#button-next{
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    border: none;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: rgb(44, 44, 44);
}

#button-next:hover{
    transition: background-color .2s ease-in-out;
    background-color:rgb(133, 131, 131);
}

.ph-arrow-right{
    display: flex;
    align-items: center;
    opacity: 0.79;
}

#select-datalist{
    display: flex;
    margin:25px auto;
    width: 8em;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 5px;
    box-shadow: inset 25px 25px 25px 25px rgba(202, 202, 202);
}

#select-datalist:focus{
    outline: none;
}

.btn-logic-system{
    display: flex;
    justify-content:space-between;
    margin-bottom: 25px;
    border: 1px solid rgba(128, 128, 128, 0.801);
}

.btn-cart{
    display: flex;
    justify-content: center;
}

#cart{
    cursor:pointer;
    color: #fff;
    display: flex;
    width: 14em;
    justify-content:center;
    border-radius: 2px;
    border:none;
    background-color: var(--bg-color-site);
}

#cart:hover{
    background-color: #c25100;
}

#button-sub-item{
    cursor: pointer;
    width: 2.5em;
    border: none;
}

#button-add-item{
    cursor: pointer;
    width: 2.5em;
    border: none; 
}

#button-sub-item:hover{
    background-color: var(--bg-color-site);
}

#button-add-item:hover{
    background-color: var(--bg-color-site);
}

@media (max-width: 768px){
    /* body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    } */
    section {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
    }
    h1{
        display: flex;
        flex-direction: column;
    }
    .box-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .box-2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
    }
    .logo{
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
}