@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary: #040517;
  
    --text-primary: #e5e5e5e7;
    --text-secondary: #f5f5f555;
    --scroll: rgb(32, 15, 86);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
    color: var(--text-primary);
}

.home_content{
    margin: 1rem;
}